body, h3, a, small, h1{
	font-family: 微軟正黑體;
}

.footer{
	text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.auto_selectbar{
	width: auto;
	margin-top: 0px;
	margin-right: 5px;
}

.login{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	
}

.download_icon{
	margin-right: 5px;
}

.margin_box{
	margin: 5px;
	margin-left: 0px;
}

.small_font{
	font-size: 14px;
}

/* Custom Blue Theme */
.page-header h1 a,
.table > tbody > tr > td > a,
.panel-title,
.footer {
    color: #337ab7;
}

/* Hover effect */
.page-header h1 a:hover,
.table > tbody > tr > td > a:hover {
    color: #23527c;
    text-decoration: underline;
}